* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	color: #eeeeee;
	background: #111217;
	
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 0.2em;
}

a:link {
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
}
a:hover {
	color: #2c751d;
	font-style: normal;
	text-decoration: none;
}
a:active {
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
}

#siteContainer {
	height: 43.1em;
	width: 64.2em;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

#siteHeader {
	height: 4.4em;
}

#siteHeader .logo {
	text-transform: uppercase;
	font-size: 3.7em;
	font-weight: 200;
}

#contact .layered-paper {
	height: 24.1em;
}

#contact address {
	padding: 2em;
}

#contact a {
	color: #e16734;
	text-shadow: 0.01em 0.01em 0.1em #a8adac;
	text-transform: uppercase;
	/*text-decoration: underline;*/
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 2.5em;
	line-height: 1.8em;
	text-decoration: none;

	display:block;
	letter-spacing:0.1em;
	font-weight:700;
}

.navMenu {
	display: block;
	clear: both;
	float: left;
	width: 9.1em;
	height: 35.8em;
	margin: 0.8em 0 0 0;
}

.navMenu ul li { 
	float: left; 
	clear: both;
	display: block;
	padding: 0 0 0 1.0em;
}

.navMenu ul li a {
	display: block;
	width: 3.6em;
	height: 1.4em;
	font-size: 2.0em;
	line-height: 1.75em;
	text-transform: uppercase;
}

#main {
	float: left;
	width: 55em;
	height: 37em;
	overflow: hidden;
}

#main .pageContent {
	width: 55em;
	height: 37em;
	overflow: hidden;
}

#photos {
	width: 55em;
	height: 37em;
	overflow: hidden;
}

#reel {

}

.vjs-default-skin .vjs-play-progress {
	border: #000088 solid 0.1em;
}

#resume .layered-paper {
	height: 36.1em;
}

.layered-paper {
	background: #eeeeee;
	box-shadow:
		0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
		0 10px 0 -5px #eee, /* The second layer */
		0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
		0 20px 0 -10px #eee, /* The third layer */
		0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}

.resumeLinks {
	display: block;
	position: relative;
	margin: 0 0 0 1.6em;
	padding: 2.4em 0 0 1em;
}

.resumeLinks li {
	float: left;
	display: block;
	margin: 0 1.25em 0 0;
	line-height: 1em;
}

.resumeLinks li a {
	color: #e16734;
	text-shadow: 0.015em 0.015em 0.25em #a8adac;
	text-transform: uppercase;
	text-decoration: underline;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 700;
	font-size: 3.0em;
	letter-spacing: 0;
}

.resumeColumns {
	clear: both;
	width: 48.0em;
	height: 24.0em;
	display: block;
	overflow-y: scroll;
}

.resumeColumns li {
	position: relative;
	display: block;
	float: left;
}

.resumeColumns li div {
	padding: 1.5em 0 0 3em;
	color: #111111;
}

.resumeColumns li div h3 {
	margin: 1.2em 0 0 0;
}

.specialSkills {
	clear: both;
	border-top: #111111 dashed thin;
	margin: 1.25em 0 0 0;
	color: #0c0d0d;
	display: block;
	width: 46em;
	padding: 0 0 0 3em;
}

.specialSkills h3 {
	color: #0c0d0d;
	line-height: 1.0em;
	margin: 1.2em 0 0 0;
}

/* generic shared */
.floatLeft {
	display: block;
	float: left;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* Slides.js CSS */
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}





.prev {
	font-size: 10em;
	line-height: 1em;
	text-shadow: 0.015em 0.015em 0.02em #000;
	opacity: 0.8;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 0.45em;
	z-index: 42;
	margin: -2.6em 0 0 0.05em;
}

.next {
	font-size: 10em;
	line-height: 1em;
	text-shadow: 0.015em 0.015em 0.02em #000;
	opacity: 0.8;
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: 0.45em;
	z-index: 43;
	margin: -1.091em 0 0 auto;
}

.defaultSerif {
	color: #0c0d0d;
	font-size: 1.0em;
	font-family: "Arial", sans-serif;
	line-height: 1.0em;
	letter-spacing: 0;
}

.defaultSerif h3 {
	font-size: 0.90em;
	line-height: 1em;
	font-weight: bold;
}

.defaultSerif b {
	font-size: 0.90em;
	line-height: 1em;
	font-weight: bold;
}
