* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	/*-webkit-font-smoothing: antialiased;*/
	font-family: 'Anaheim', sans-serif;
	font-size: 1em;
	color: #ffffff;
	letter-spacing: 0.13em;
	padding: 0.5em;
	background: #111217;
}

a {
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
}

#siteContainer {
	height: 40.1em;
	width: 64.2em;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

#siteHeader {
	
}

#siteHeader .logo {
	text-transform: uppercase;
	font-size: 3.1em;
	line-height: 1em;
}

.navMenu {
	display: block;
	clear: both;
	float: left;
	width: 9.2em;
	height: 37em;
}

.navMenu ul li { float: left; clear: both; display: block; padding: 1em 0 0 0.5em; margin: 0 0; }
.navMenu ul li a { font-size: 1.8em; line-height: 1em; text-transform: uppercase; letter-spacing: 0.1em;}


#main {
	float: left;
	width: 55em;
	height: 37em;
	overflow: hidden;
}

#main .pageContent {
	width: 55em;
	height: 37em;
	overflow: hidden;
}

#photos {
	width: 55em;
	height: 37em;
	overflow: hidden;
}

.next {
	display: block;
	position: relative;
	z-index: 42;
	font-size: 8em;
	top: 0;
	left: 0;
	width: 0.5em;
	margin: -1.15em 0.05em 0 auto;

}



.prev {
	display: block;
	position: relative;
	z-index: 43;
	font-size: 8em;
	line-height: 1em;
	top: 0;
	left: 0;
	width: 0.5em;
	margin: -2.75em 0 0 0.05em;
}

#reel {

}

#resume {
	background: transparent url("../images/photogallery/melissa_nearman_03.jpg") no-repeat center right;
}

#contact {
	background: transparent url("../images/photogallery/melissa_nearman_05.jpg") no-repeat center right;
}

#resume .resumeDownloadLink {
	display: block;
	background:#000088;
	padding: 8px 12px;
	margin-bottom: 1em;
}


/* generic shared */
.floatLeft {
	display: block;
	float: left;
}

.clearFix {
	clear: both;
}


/* Slides.js CSS */
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
