* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	color: #ffffff;
	background: #111217;
	
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 0.2em;
}

a:link {
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
}
a:hover {
	color: #2c751d;
	font-style: normal;
	text-decoration: none;
}
a:active {
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
}

#siteContainer {
	height: 43.1em;
	width: 64.2em;
	overflow: hidden;
	margin: 0 auto 0 auto;
}

#siteHeader {
	/*width: 64.2em;*/
	height: 4.4em;
	
	/*background: #00FF00;*/
}

#siteHeader .logo {
	text-transform: uppercase;
	font-size: 3.75em;
	font-weight: 200;
	/*text-shadow: 1px 0px #eee, 0px 1px #ff0000;*/
	/*line-height: 0.8em;*/
	/*background: #880000;*/
}

.contactInfo {
	float: right;
	line-height: 1.25em;
	width: 13.25em;
	height: 2.2em;
	/*background: #880000;*/
	font-size: 1.5em;
	margin: 0.3em auto 0 auto;
}

.contactInfo a {
	display: block;
	width: 13.25em;
	text-align: right;
	line-height: 1em;
}

.navMenu {
	display: block;
	clear: both;
	float: left;
	/*background: #2c751d;*/
	width: 9.1em;
	height: 35.8em;
	margin: 0.8em 0 0 0;
}

.navMenu ul li { 
	float: left; 
	clear: both;
	display: block; 
	padding: 0 0 0 1.6em;
	margin: 0 0; 
}

.navMenu ul li a {
	display: block;
	width: 3.6em;
	height: 1.4em;
	/*background: #880000;*/
	/*font-size: 2.3em;*/
	font-size: 2.2em;
	line-height: 1.4em;
	text-transform: uppercase; 
	letter-spacing: 0.11em;
	/*text-align: right;*/
}


#main {
	float: left;
	width: 55em;
	height: 37em;
	overflow: hidden;
}

#main .pageContent {
	width: 55em;
	height: 37em;
	overflow: hidden;
}

#photos {
	width: 55em;
	height: 37em;
	overflow: hidden;
}

.prev {
	text-shadow: 0.015em 0.015em 0.02em #000;
	opacity: 0.8;
	display: block;
	position: relative;
	z-index: 42;
	font-size: 10em;
	line-height: 1em;
	top: 0;
	left: 0;
	width: 0.45em;
	margin: -2.6em 0 0 0.05em;
}



.next {
	text-shadow: 0.015em 0.015em 0.02em #000;
	opacity: 0.8;
	display: block;
	position: relative;
	z-index: 43;
	font-size: 10em;
	top: 0;
	left: 0;
	width: 0.45em;
	margin: -1.091em 0 0 auto;

}

#reel {

}

#resume .layered-paper {
	height: 36.1em;
}

.layered-paper {
	
	background: #eee;
	box-shadow:
		0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
		0 10px 0 -5px #eee, /* The second layer */
		0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
		0 20px 0 -10px #eee, /* The third layer */
		0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}

.resumeLinks {
	display: block;
	position: relative;
	padding: 1.5em 0 0 0.5em;
	/*position: absolute;*/
	/*top: 7.25em;*/
	/*left: 68em;*/
}

.resumeLinks li {
	display: block;
	float: left;
	/*width: 15.2em;*/
}

.resumeLinks li a {
	font-family: sans-serif;
	letter-spacing: 0;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 1.0em;
	line-height: 1.0em;
	font-weight: normal;
	display: block;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em; /* future proofing */
	-html-border-radius: 0.5em; /* for old Konqueror browsers */
	margin: 0 0.2em 0 0.5em;
	padding: 0.3em 1.0em 0.3em 1.0em;
	background: #3875d7;
	border: #0088FF solid 0.1em;
}

.resumeColumns {
	clear: both;
	font-family: sans-serif;
	letter-spacing: 0;
	font-size: 0.85em;
	line-height: 1.0em;
	color: #0c0d0d;
	display: block;
}

.resumeColumns li {
	position: relative;
	display: block;
	float: left;
}

.resumeColumns li div {
	padding: 1.5em 0 0 1.1em;
}

.resumeColumns li div h3 {
	font-size: 0.90em;
	line-height: 1.0em;
	padding: 0 0 0 0;
	margin: 1.2em 0 0 0;
}


.specialSkills {
	clear: both;
	font-family: sans-serif;
	letter-spacing: 0;
	font-size: 0.85em;
	line-height: 1.0em;
	color: #0c0d0d;
	display: block;
	width: 46em;
	padding: 0.2em 0 0 1em;
}

.specialSkills h3 {
	color: #0c0d0d;
	font-size: 0.90em;
	line-height: 1.0em;
	padding: 0 0 0 0;
	margin: 1.2em 0 0 0;
}


/* generic shared */
.floatLeft {
	display: block;
	float: left;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* Slides.js CSS */
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}




